
body {
  font-family: 'Shabnam', sans-serif;
  direction: rtl;
  text-align: center;
  padding: 2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

body.dark-mode {
  --bg-color: #121212;
  --text-color: #ffffff;
}
