body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  background: #f8f8f8;
  direction: rtl;
  text-align: center;
}

canvas {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  border: 1px dashed #999;
  background: #fff;
}

textarea, input, select, button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}