
body {
  direction: rtl;
  text-align: center;
  background-color: #222;
  color: white;
  font-family: Tahoma, sans-serif;
}

textarea, select, input[type="file"], input[type="color"], input[type="range"] {
  margin: 10px;
  padding: 8px;
  border-radius: 6px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #777;
}

canvas {
  margin-top: 20px;
  border: 2px dashed white;
  max-width: 100%;
}

.gallery-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #444;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-family: sans-serif;
}

.gallery-link:hover {
  background-color: #666;
}
